# Startup Config
API_ID=""
API_HASH=""
BOT_TOKEN=""
HELPER_BOT_TOKEN=""
OWNER_ID=""

# Optional
REPLACE_MODE="true"
HIDE_CATALOG="false"

# STORAGE
AUTH_CHANNEL=""
DATABASE=""

# API
TMDB_API=""

# SERVER
BASE_URL=""
PORT="8000"

# UPDATE REPO
UPSTREAM_REPO="https://github.com/weebzone/Telegram-Stremio"
UPSTREAM_BRANCH="master"

# ADMIN PANNEL
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="admin"

# SUBSCRIPTION CONFIG
SUBSCRIPTION=False                      
SUBSCRIPTION_GROUP_ID=""         
APPROVER_IDS=""
SUBSCRIPTION_URL=""          

# PROXY CONFIG
HTTP_Proxy_URL=""                       
SHOW_ProxyAndNonProxyBoth=True

# MULTI TOKEN CONFIG
# MULTI_TOKEN1=""                       #Remove the hashtag sign